In [1]:
 ## What are the key features of the wine quality data set? 

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings

In [16]:
df=pd.read_csv('winequality-white.csv')
print(df)
df.head()

     fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
0      7;0.27;0.36;20.7;0.045;45;170;1.001;3;0.45;8.8;6
1     6.3;0.3;0.34;1.6;0.049;14;132;0.994;3.3;0.49;9...
2     8.1;0.28;0.4;6.9;0.05;30;97;0.9951;3.26;0.44;1...
3     7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...
4     7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...
...                                                 ...
4893  6.2;0.21;0.29;1.6;0.039;24;92;0.99114;3.27;0.5...
4894  6.6;0.32;0.36;8;0.047;57;168;0.9949;3.15;0.46;...
4895  6.5;0.24;0.19;1.2;0.041;30;111;0.99254;2.99;0....
4896  5.5;0.29;0.3;1.1;0.022;20;110;0.98869;3.34;0.3...
4897  6;0.21;0.38;0.8;0.02;22;98;0.98941;3.26;0.32;1...

[4898 rows x 1 columns]

  fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
0   7;0.27;0.36;20.7;0.045;45;170;1.001;3;0.45;8.8;6
1  6.3;0.3;0.34;1.6;0.049;14;132;0.994;3.3;0.49;9...
2  8.1;0.28;0.4;6.9;0.05;30;97;0.9951;3.26;0.44;1...
3  7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...
4  7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...

In [17]:
df.columns

Index(['fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"'], dtype='object')

In [7]:
## How did you handle missing data in the wine quality data set during the feature engineering process?

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 1 columns):
 #   Column                                                                                                                                                                   Non-Null Count  Dtype
---  ------                                                                                                                                                                   --------------  -----
 0   fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"  4898 non-null   object
dtypes: object(1)
memory usage: 38.4+ KB

In [10]:
df.isnull().sum()

fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"    0
dtype: int64

In [18]:
## There is no missin g value in the dataset

In [19]:
df2 = pd.read_csv('stud.csv')
df2.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [20]:
#Study Time:
#Analysis: Correlation analysis for the relationship between study time and exam scores.

#Prior Academic Performance:
#Analysis: Regression analysis to assess the predictive power of prior grades.

#Attendance:
#Analysis: Chi-square tests or logistic regression for the association between attendance and exam success.

#Learning Resources:
#Analysis: T-tests or ANOVA to compare exam scores based on resource utilization.

#Social and Economic Background:
#Analysis: Regression analysis for the impact of socioeconomic variables.

#Health and Well-being:
#Analysis: Correlation or regression to examine the link between health indicators and exam scores.

#Study Environment:
#Analysis: Regression or ANOVA to understand how study environment relates to academic outcomes.

In [22]:
# Describe the process of feature engineering in the context of the student performance data set.?

##@ Feature Engineering for Student Performance:
#Aggregate Study Time, Attendance, and Resource Utilization.
#Create Indices for Academic Progress, Socio-Economic Status, and Health.
#Transform Environmental Factors into Study Environment Quality.

##Selection and Transformation:
#nderstand Data and Use Domain Knowledge.
#Analyze Correlations and Variable Importance.
#Apply Dimensionality Reduction and Normalize Features.
#Create Interaction Terms and Validate Iteratively.

#EDA for Wine Quality Data:
#Load Data and Calculate Descriptive Statistics.
#Visualize Feature Distributions and Correlations.
#Handle Outliers, Check Class Distribution (if applicable).
#Explore Feature Relationships and Visualize Patterns.
#Handle Missing Values and Prepare Data for Modeling.

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 1 columns):
 #   Column                                                                                                                                                                   Non-Null Count  Dtype
---  ------                                                                                                                                                                   --------------  -----
 0   fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"  4898 non-null   object
dtypes: object(1)
memory usage: 38.4+ KB