In [2]:
import pandas as pd

In [3]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
data_series = pd.Series([4,8,15,16,23,42])

In [7]:
data_series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [15]:
variable_list = list(range( 1 ,11))

In [16]:
variable_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
series_panda = pd.Series(variable_list)

In [20]:
series_panda

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [25]:
data = {'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female'] }

In [26]:
data_frame = pd.DataFrame(data)

In [27]:
data_frame

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [28]:
#A DataFrame is a 2D structure that resembles a spreadsheet or SQL table with rows and columns,suitable for representing complex data. A Series is a 1D labeled array, suitable for representing a single column of data. While a DataFrame can be seen as a collection of Series objects that share the same index, a Series is just a single list with index labels.

In [31]:
data_series = pd.Series([4,8,15,16,23,42])

In [32]:
data_series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [35]:
data_frame= {'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female'] }

In [37]:
data_frame

{'Name': ['Alice', 'Bob', 'Claire'],
 'Age': [25, 30, 27],
 'Gender': ['Female', 'Male', 'Female']}

In [39]:
#head()/tail(): Preview the first/last N rows.
#describe(): Get summary statistics.
#sort_values(): Sort by column values.
#groupby(): Group and aggregate data.
#merge()/join()/concat(): Combine DataFrames.
#apply(): Apply a function to rows/columns.
#drop(): Remove rows/columns.
#fillna()/dropna(): Handle missing data.
#loc[]/iloc[]: Access subsets of data.

In [40]:
#All three Pandas structures—Series, DataFrame, and Panel—are mutable in nature. we can change their contents, size, and data types after they are created. However, it's worth noting that Panel has been deprecated and removed in newer versions of Pandas.

In [48]:
data_seriesnew = { 'A' : [1] , 'B' : [2], 'C' : [3] }

In [49]:
data_seriesnew

{'A': [1], 'B': [2], 'C': [3]}

In [50]:
data_framenew = pd.Series(data_seriesnew)

In [51]:
data_framenew

A    [1]
B    [2]
C    [3]
dtype: object